In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

In [2]:
## reading data 

data=pd.read_csv('C:\\Users\\ashishranjan\\Downloads\\Convert R Codes to Python\\Convert R Codes to Python\\1.Linear Regression\\Sagar\\insurance.csv')

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
## independent variables 
X=data.drop('charges',axis=1)

In [6]:
# traget variables
Y=data.charges

In [7]:
# dummy variable creation 
data_dummy=pd.get_dummies(data[['sex','smoker','region']])

In [8]:
X=X.drop(['sex','smoker','region'],axis=1)

In [9]:
data_dummy

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0
5,1,0,1,0,0,0,1,0
6,1,0,1,0,0,0,1,0
7,1,0,1,0,0,1,0,0
8,0,1,1,0,1,0,0,0
9,1,0,1,0,0,1,0,0
10,0,1,1,0,1,0,0,0
11,1,0,0,1,0,0,1,0
12,0,1,1,0,0,0,0,1
13,1,0,1,0,0,0,1,0
14,0,1,0,1,0,0,1,0
15,0,1,1,0,0,0,0,1
16,1,0,1,0,1,0,0,0
17,0,1,1,0,1,0,0,0
18,0,1,1,0,0,0,0,1
19,0,1,0,1,0,0,0,1
20,1,0,1,0,1,0,0,0
21,1,0,1,0,0,0,0,1
22,0,1,1,0,0,0,1,0
23,1,0,0,1,1,0,0,0
24,0,1,1,0,0,1,0,0
25,1,0,1,0,0,0,1,0
26,1,0,1,0,1,0,0,0
27,1,0,1,0,0,1,0,0
28,0,1,1,0,0,1,0,0
29,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...
1308,1,0,0,1,0,0,0,1
1309,0,1,1,0,0,0,0,1
1310,0,1,1,0,0,1,0,0
1311,1,0,1,0,0,1,0,0
1312,0,1,1,0,0,0,0,1
1313,1,0,0,1,0,0,0,1
1314,1,0,0,1,0,1,0,0
1315,0,1,1,0,1,0,0,0
1316,1,0,1,0,0,0,0,1
1317,0,1,1,0,0,0,1,0
1318,0,1,1,0,1,0,0,0
1319,1,0,1,0,0,1,0,0
1320,0,1,1,0,0,1,0,0
1321,0,1,0,1,1,0,0,0
1322,0,1,1,0,0,0,1,0
1323,1,0,0,1,0,0,1,0
1324,0,1,1,0,0,1,0,0
1325,0,1,1,0,1,0,0,0
1326,1,0,1,0,1,0,0,0
1327,0,1,1,0,0,0,1,0
1328,1,0,1,0,1,0,0,0
1329,0,1,1,0,0,0,0,1
1330,1,0,1,0,0,0,1,0
1331,1,0,1,0,0,0,0,1
1332,1,0,1,0,0,0,0,1
1333,0,1,1,0,0,1,0,0
1334,1,0,1,0,1,0,0,0
1335,1,0,1,0,0,0,1,0
1336,1,0,1,0,0,0,0,1
1337,1,0,0,1,0,1,0,0

In [9]:
## combining dummy variable to other i.v
X=pd.concat([X,data_dummy],axis=1)

In [10]:
X.describe()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,30.663397,1.094918,0.494768,0.505232,0.795217,0.204783,0.242152,0.242900,0.272048,0.242900
std,14.049960,6.098187,1.205493,0.500160,0.500160,0.403694,0.403694,0.428546,0.428995,0.445181,0.428995
min,18.000000,15.960000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,26.296250,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,39.000000,30.400000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,51.000000,34.693750,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,64.000000,53.130000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
X.shape

(1338, 11)

In [12]:
## trying model on whole data 
lm=LinearRegression()

In [13]:
model=lm.fit(X,Y)

In [15]:
?model

In [14]:
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
## predicting on whole data 
pred_charge=model.predict(X)

In [17]:
pred_charge

array([25293.7130284 ,  3448.60283431,  6706.9884907 , ...,
        4149.13248568,  1246.58493898, 37085.62326757])

In [18]:
## r square 
model.score(X,Y)

0.7509130345985208

In [19]:
 pd.Series(model.coef_)

0       256.856353
1       339.193454
2       475.500545
3        65.657180
4       -65.657180
5    -11924.267271
6     11924.267271
7       587.009235
8       234.045336
9      -448.012814
10     -373.041756
dtype: float64

In [20]:
X.columns

Index(['age', 'bmi', 'children', 'sex_female', 'sex_male', 'smoker_no',
       'smoker_yes', 'region_northeast', 'region_northwest',
       'region_southeast', 'region_southwest'],
      dtype='object')

In [21]:
## variable with different cofficients 
pd.concat([pd.Series(X.columns),pd.Series(model.coef_)],axis=1)

                   0             1
0                age    256.856353
1                bmi    339.193454
2           children    475.500545
3         sex_female     65.657180
4           sex_male    -65.657180
5          smoker_no -11924.267271
6         smoker_yes  11924.267271
7   region_northeast    587.009235
8   region_northwest    234.045336
9   region_southeast   -448.012814
10  region_southwest   -373.041756

In [22]:
## building model using statsmodels 
import pandas as pd
import numpy as np
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats
X2 = sm.add_constant(X)
est = sm.OLS(Y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.751
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     500.8
Date:                Sat, 27 Oct 2018   Prob (F-statistic):               0.00
Time:                        11:09:30   Log-Likelihood:                -13548.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1329   BIC:                         2.716e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -296.4168    430.507     -0.689      0.491   -1140.964     548.130
age                256.8564     11.899     21.587      0.000     233.514     280.199
bmi                339.1935     28.599     11.860      0.000     283.088     395.298
children           475.5005    137.804      3.451      0.001     205.163     745.838
sex_female         -82.5512    269.226     -0.307      0.759    -610.706     445.604
sex_male          -213.8656    274.976     -0.778      0.437    -753.299     325.568
smoker_no        -1.207e+04    282.338    -42.759      0.000   -1.26e+04   -1.15e+04
smoker_yes        1.178e+04    313.530     37.560      0.000    1.12e+04    1.24e+04
region_northeast   512.9050    300.348      1.708      0.088     -76.303    1102.113
region_northwest   159.9411    301.334      0.531      0.596    -431.201     751.083
region_southeast  -522.1170    330.759     -1.579      0.115   -1170.983     126.749
region_southwest  -447.1459    310.933     -1.438      0.151   -1057.119     162.827
==============================================================================
Omnibus:                      300.366   Durbin-Watson:                   2.088
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              718.887
Skew:                           1.211   Prob(JB):                    7.86e-157
Kurtosis:                       5.651   Cond. No.                     4.55e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.7e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [22]:
## using significant variables based on P values 
X1=X.loc[:,['age','bmi','children','smoker_no','smoker_yes']]
X21 = sm.add_constant(X1)
est = sm.OLS(Y, X21)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.750
Model:                            OLS   Adj. R-squared:                  0.749
Method:                 Least Squares   F-statistic:                     998.1
Date:                Sat, 29 Sep 2018   Prob (F-statistic):               0.00
Time:                        22:35:24   Log-Likelihood:                -13551.
No. Observations:                1338   AIC:                         2.711e+04
Df Residuals:                    1333   BIC:                         2.714e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -131.3796    629.912     -0.209      0.835   -1367.107    1104.348
age          257.8495     11.896     21.675      0.000     234.512     281.187
bmi          321.8514     27.378     11.756      0.000     268.143     375.559
children     473.5023    137.792      3.436      0.001     203.190     743.814
smoker_no  -1.197e+04    354.354    -33.784      0.000   -1.27e+04   -1.13e+04
smoker_yes  1.184e+04    396.710     29.846      0.000    1.11e+04    1.26e+04
==============================================================================
Omnibus:                      301.480   Durbin-Watson:                   2.087
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              722.157
Skew:                           1.215   Prob(JB):                    1.53e-157
Kurtosis:                       5.654   Cond. No.                     2.52e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.55e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [23]:
## dividing data in train and test 
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.3)

C:\Users\ashishranjan\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [24]:
x_train

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
1156,19,44.880,0,0,1,0,1,0,0,1,0
269,49,25.840,1,0,1,1,0,1,0,0,0
83,48,41.230,4,1,0,1,0,0,1,0,0
6,46,33.440,1,1,0,1,0,0,0,1,0
1245,28,24.300,5,0,1,1,0,0,0,0,1
69,28,23.980,3,0,1,0,1,0,0,1,0
94,64,31.300,2,1,0,0,1,0,0,0,1
381,55,30.685,0,0,1,0,1,1,0,0,0
1159,32,41.100,0,1,0,1,0,0,0,0,1
371,57,22.230,0,1,0,1,0,1,0,0,0
15,19,24.600,1,0,1,1,0,0,0,0,1
860,37,47.600,2,1,0,0,1,0,0,0,1
320,34,25.270,1,0,1,1,0,0,1,0,0
1158,20,30.590,0,1,0,1,0,1,0,0,0
102,18,30.115,0,1,0,1,0,1,0,0,0
486,54,21.470,3,1,0,1,0,0,1,0,0
439,26,29.450,0,0,1,1,0,1,0,0,0
627,33,42.460,1,0,1,1,0,0,0,1,0
71,31,28.500,5,0,1,1,0,1,0,0,0
1250,24,29.830,0,0,1,0,1,1,0,0,0
1043,28,25.800,0,1,0,1,0,0,0,0,1
468,28,24.320,1,1,0,1,0,1,0,0,0
249,29,28.975,1,0,1,1,0,1,0,0,0
1271,25,34.485,0,1,0,1,0,0,1,0,0
951,51,42.900,2,0,1,0,1,0,0,1,0
925,50,32.110,2,0,1,1,0,1,0,0,0
503,19,30.250,0,0,1,0,1,0,0,1,0
1000,30,22.990,2,0,1,0,1,0,1,0,0
532,59,29.700,2,0,1,1,0,0,0,1,0
17,23,23.845,0,0,1,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
97,55,38.280,0,0,1,1,0,0,0,1,0
61,25,33.660,4,0,1,1,0,0,0,1,0
38,35,36.670,1,0,1,0,1,1,0,0,0
979,36,29.920,0,1,0,1,0,0,0,1,0
87,56,27.200,0,1,0,1,0,0,0,0,1
474,54,25.100,3,0,1,0,1,0,0,0,1
1083,32,31.500,1,0,1,1,0,0,0,0,1
1303,43,27.800,0,0,1,0,1,0,0,0,1
279,51,21.560,1,1,0,1,0,0,0,1,0
76,29,29.590,1,1,0,1,0,0,0,1,0
974,26,35.420,0,0,1,1,0,0,0,1,0
103,61,29.920,3,1,0,0,1,0,0,1,0
877,33,33.440,5,0,1,1,0,0,0,1,0
717,60,24.320,1,0,1,1,0,0,1,0,0
224,42,24.640,0,0,1,0,1,0,0,1,0
1297,28,26.510,2,1,0,1,0,0,0,1,0
133,19,25.555,0,0,1,1,0,0,1,0,0
634,51,39.700,1,0,1,1,0,0,0,0,1
1204,18,27.280,3,1,0,0,1,0,0,1,0
262,52,24.320,3,0,1,0,1,1,0,0,0
1253,40,29.300,4,1,0,1,0,0,0,0,1
250,18,17.290,2,0,1,0,1,1,0,0,0
340,24,27.600,0,1,0,1,0,0,0,0,1
30,22,35.600,0,0,1,0,1,0,0,0,1
270,18,29.370,1,0,1,1,0,0,0,1,0
1145,52,32.775,3,0,1,1,0,0,1,0,0
1106,49,29.925,0,1,0,1,0,0,1,0,0
1330,57,25.740,2,1,0,1,0,0,0,1,0
570,31,29.100,0,1,0,1,0,0,0,0,1
163,32,29.800,2,1,0,1,0,0,0,0,1

In [25]:
## model building on train data 
X2_train = sm.add_constant(x_train)
est = sm.OLS(y_train, X2_train)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.749
Model:                            OLS   Adj. R-squared:                  0.747
Method:                 Least Squares   F-statistic:                     346.6
Date:                Sat, 27 Oct 2018   Prob (F-statistic):          1.75e-272
Time:                        11:10:05   Log-Likelihood:                -9476.9
No. Observations:                 936   AIC:                         1.897e+04
Df Residuals:                     927   BIC:                         1.902e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const             -847.2910    509.346     -1.663      0.097   -1846.896     152.314
age                260.6348     14.275     18.258      0.000     232.620     288.649
bmi                365.6286     33.945     10.771      0.000     299.011     432.247
children           487.2343    168.037      2.900      0.004     157.458     817.011
sex_female        -277.6039    316.471     -0.877      0.381    -898.687     343.479
sex_male          -569.6871    330.117     -1.726      0.085   -1217.550      78.176
smoker_no        -1.202e+04    337.418    -35.629      0.000   -1.27e+04   -1.14e+04
smoker_yes        1.117e+04    364.908     30.623      0.000    1.05e+04    1.19e+04
region_northeast   684.4230    359.351      1.905      0.057     -20.812    1389.658
region_northwest   -15.5591    363.367     -0.043      0.966    -728.677     697.559
region_southeast  -829.3611    392.413     -2.113      0.035   -1599.482     -59.240
region_southwest  -686.7938    367.527     -1.869      0.062   -1408.076      34.488
==============================================================================
Omnibus:                      191.920   Durbin-Watson:                   1.976
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              387.666
Skew:                           1.169   Prob(JB):                     6.60e-85
Kurtosis:                       5.116   Cond. No.                     1.05e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.24e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [26]:
## model using only signicant variables based on p values 
X2_train1=x_train.loc[:,['age','bmi','children','smoker_no','smoker_yes']]

In [27]:
X2_train2 = sm.add_constant(X2_train1)
est = sm.OLS(y_train, X2_train2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.747
Model:                            OLS   Adj. R-squared:                  0.746
Method:                 Least Squares   F-statistic:                     686.8
Date:                Sat, 27 Oct 2018   Prob (F-statistic):          6.08e-276
Time:                        11:10:09   Log-Likelihood:                -9481.7
No. Observations:                 936   AIC:                         1.897e+04
Df Residuals:                     931   BIC:                         1.900e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -871.6992    747.965     -1.165      0.244   -2339.592     596.193
age          261.5152     14.309     18.276      0.000     233.433     289.598
bmi          344.2673     32.816     10.491      0.000     279.866     408.669
children     476.5093    168.280      2.832      0.005     146.257     806.761
smoker_no  -1.202e+04    425.892    -28.221      0.000   -1.29e+04   -1.12e+04
smoker_yes  1.115e+04    464.145     24.017      0.000    1.02e+04    1.21e+04
==============================================================================
Omnibus:                      196.034   Durbin-Watson:                   1.974
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              403.671
Skew:                           1.183   Prob(JB):                     2.21e-88
Kurtosis:                       5.180   Cond. No.                     3.52e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.98e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [28]:
## prediction on train data 
x_train_pred=est2.predict(X2_train2)

In [29]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms_train = sqrt(mean_squared_error(y_train, x_train_pred))

In [39]:
## error on train data 
rms_train

5902.060847845202

In [35]:
X2_test1=x_test.loc[:,['age','bmi','children','smoker_no','smoker_yes']]
X2_test2 = sm.add_constant(X2_test1)

In [36]:
## prediction on test data 
x_test_pred=est2.predict(X2_test2)

In [40]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms_test = sqrt(mean_squared_error(y_test, x_test_pred))

In [41]:
## error on test data 
rms_test

6419.268726858799